.jumbotron
  .row
    .col-lg-4.col-lg-offset-4.col-xs-12
      %form(action="/search" role="form" method="GET")
        %input.form-control#q(type="text" name="q" placeholder="Enter an English Word")
        %button.btn.btn-primary.btn-block(type="submit" name="commit" style="margin-top: 20px") Search Word