- if @word.title == nil 
  %h1 Word not found
- else
  - if signed_in?
    .row
      .col-lg-12
        %div(style="position: absolute; top: 4px; right: 10px")
          = form_tag("/new_words/add", method: "post") do
            = hidden_field_tag 'word_id', @word.id
            = submit_tag "ADD", class: "btn btn-primary", style: "margin-bottom: 10px; width: 200px"
  = render "shared/word"