%div.row
  %div.col-lg-12.col-xs-12.col-sm-12
    %div.well#section-loading(style="height: 400px")
      %div#spin-anchor(style="position:relative; top:170px; left:50%")
      %div(style="position:relative; top:260px; width:100%")
        %h1(style="text-align: center") LOADING
    
    %h2.hidden#section-english
    
      %span#title title
      %span(style="margin-left: 20px")
      %small 
        %span [
        %span#pronounce pronounce
        %span ]

    %div.panel.panel-default.hidden#section-chinese
      .panel-body
      
    %ul.list-group.hidden#section-sentences
      %li.list-group-item
        %p#english english
        %p#chinese chinese
    
%div.row.hidden#result-buttons
  %div.col-xs-4
    %button.btn.btn-block.btn-danger#btn0
      %strong +0
      %span.visible-xs-block (Q)
    %button.btn.btn-block.btn-info#btn3
      %strong +3
      %span.visible-xs-block (A)
  %div.col-xs-4
    %button.btn.btn-block.btn-warning#btn1
      %strong +1
      %span.visible-xs-block (W)
    %button.btn.btn-block.btn-success#btn7
      %strong +7
      %span.visible-xs-block (S)
  %div.col-xs-4
    %button.btn.btn-block.btn-primary#btn2
      %strong +2
      %span.visible-xs-block (E)
    %button.btn.btn-block.btn-danger#btnD
      %strong DEL
      %span.visible-xs-block (D)
  
%div.row.hidden#question-buttons
  %div.col-xs-12
    %button.btn.btn-primary.btn-block#btnF
      SHOW RESULT
      %span.visible-xs-block (F)

- content_for :javascript do
  = javascript_include_tag 'cards/play', 'data-turbolinks-track' => true